<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="">Name :</label>
                    <input type="text" class="form-control" name="name" [(ngModel)]="name">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="">Phone Number :</label>
                    <input type="text" class="form-control" name="phone" [(ngModel)]="phone">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="">Gender :</label>
                    <select name="gender" id="" class="form-control" [(ngModel)]="gender">
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="">Email ID :</label>
                    <input type="email" name="email" id="" class="form-control" [(ngModel)]="email">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="">Address :</label>
                    <textarea name="address" id="" cols="30" rows="10" class="form-control" [(ngModel)]="address"></textarea>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="">Pincode :</label>
                    <input type="text" class="form-control" name="pincode" [(ngModel)]="pincode">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="">Bloodgroup :</label>
                    <select name="bloodgroup" id="" class="form-control" [(ngModel)]="bloodgroup">
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="">Date Of Birth :</label>
                    <input type="date" name="dob" id="" class="form-control" [(ngModel)]="dob">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="">Age :</label>
                    <input type="text" class="form-control" name="age" [(ngModel)]="age">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="">ParentName :</label>
                    <input type="text" class="form-control" name="parentName" [(ngModel)]="parentName">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="">Password :</label>
                    <input type="password" name="pass" id="" class="form-control" [(ngModel)]="pass">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="">Confirm Password :</label>
                    <input type="password" name="confirmPass" id="" class="form-control" [(ngModel)]="confirmPass">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-danger" [disabled]="status" (click)="readValue()">Register</button>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <a routerLink="/">Go To Login Page</a>
                </div>
            </div>
        </div>
    </div>
</div>
