<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="https://assets.ajio.com/cms/AJIO/WEB/14102022-D-MHP-maincarousel-p3-brands-flat50.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="https://assets.ajio.com/cms/AJIO/WEB/14102022-WHP-D-maincarousel-p2-fcuk-lavie-upto80.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="https://assets.ajio.com/cms/AJIO/WEB/14102022-WHP-D-banner1-p6-sukkhi-min70.jpg" class="d-block w-100" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col lg-12 col-xl-12 col-xxl-12">
                    <div class="row g-3">
                        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                            <div class="card">
                                <img src="https://assets.ajio.com/medias/sys_master/root/20220818/22eZ/62fde1bdf997dd394c018b73/ivoc_olive_green_slim_fit_shirt_with_flap_pockets.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">iVOC</h5>
                                  <p class="card-text">$775</p>
                                  <a href="#" class="btn btn-primary">Buy Now</a>
                                </div>
                              </div>
                        </div>
                        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                            <div class="card">
                                <img src="https://assets.ajio.com/medias/sys_master/root/20220425/W3iO/6266bba1aeb26921af40c2be/muhuratam_pink_embroidered_straight_kurti_.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">MUHURATAM</h5>
                                  <p class="card-text">$800</p>
                                  <a href="#" class="btn btn-primary">Buy Now</a>
                                </div>
                              </div>
                        </div>
                        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                            <div class="card">
                                <img src="https://assets.ajio.com/medias/sys_master/root/20221006/agJl/633ef13baeb269659c26cef2/tior_pink_floral_print_fit_%26_flare_dress.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Tior</h5>
                                  <p class="card-text">$480</p>
                                  <a href="#" class="btn btn-primary">Buy Now</a>
                                </div>
                              </div>
                        </div>
                        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                            <div class="card">
                                <img src="https://assets.ajio.com/medias/sys_master/root/20220607/JoHw/629e6bd9aeb26921af12cdee/puma_blue_slash_low-top_lace-up_casual_shoes.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Puma</h5>
                                  <p class="card-text">$1600</p>
                                  <a href="#" class="btn btn-primary">Buy Now</a>
                                </div>
                              </div>
                        </div>
                        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                            <div class="card">
                                <img src="https://assets.ajio.com/medias/sys_master/root/20211130/qwgg/61a52b47aeb2690110e26d3f/fossil_black_fs5164i_analogue_watch_with_chain_strap.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">FOSSIL</h5>
                                  <p class="card-text">$5998</p>
                                  <a href="#" class="btn btn-primary">Buy Now</a>
                                </div>
                              </div>
                        </div>
                        <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                            <div class="card">
                                <img src="https://assets.ajio.com/medias/sys_master/root/20220623/YpHK/62b4a9b8aeb26921af434a77/inf_frendz_white_micro_print_suit_set_with_patch_pocket.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">INF FRENDZ</h5>
                                  <p class="card-text">$629</p>
                                  <a href="#" class="btn btn-primary">Buy Now</a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

